# Unsplash API - https://unsplash.com/oauth/applications 에서 발급
NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=8q50k2MNrXtxhgPQsdUzI3Qj6vDBEHX2h6td6pYrBY0

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
